doctype html
html
  head
    title
      block title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/shmile.css')
    link(rel='stylesheet', href='/css/photoswipe/photoswipe.css')

    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='viewport', content="initial-scale=1.0, user-scalable=no")
    meta(name='apple-mobile-web-app-status-bar-style', content='black')

    // Framework
    script(type='text/javascript', src='/components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/components/raphael/raphael-min.js')
    script(type='text/javascript', src='/components/javascript-state-machine/state-machine.min.js')
    script(type='text/javascript', src='/components/underscore/underscore-min.js')
    script(type='text/javascript', src='/components/backbone/backbone.js')

    // Gallery
    script(type='text/javascript', src='/javascripts/gallery/photoswipe/klass.min.js')
    script(type='text/javascript', src='/javascripts/gallery/code.photoswipe.jquery-3.0.4.min.js')
    script(type='text/javascript', src='/javascripts/gallery/shmile_gallery.js')

  body.nicegradient
    block content
